:root {
    --fuenteTitulos: 'Alegreya', serif;
    --fuentePrincipal: 'Open Sans', sans-serif;
}

body {
    background-color: #e2eecf;
    margin: 0;
    /*background-image: url('https://pro2-bar-s3-cdn-cf.myportfolio.com/67cf45ca-338d-4fd0-943b-32d96162976a/b7b52d14-b827-4c3a-906f-3b94fa13f35f_rw_1920.png');*/
}

h1, h2, h3 {
    font-family: var(--fuenteTitulos);
    color: #025157;
}

h1 {
    font-size: 60px;
}

h4, h5, h6, a, p {
    font-family: var(--fuentePrincipal);
}

p {
    color: #7e7e7e;
    text-align: justify;
}

button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
}
.boton-experimental, .list-group-item.active{
    background-color: #025157;
    color: #fff;
}

.row {
    margin-bottom: 30px;
    background-color:#b7c0a8;
    padding: 2%;
    font-family: var(--fuentePrincipal);
}
.jumbotron {
    margin-top: 30px;
}

.header {
    position: relative;
    margin: 20px 20px 20px 20px;
    font-size: 0;
    height: 45px;
    font-family: var(--fuentePrincipal);

}

li {
    display: inline;
}

main {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.fixed-header {
    position: fixed;
    background-color: #e2eecf;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.header>* {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.navbar {
    /* width: 70%; */
    
    text-align: center;
    color: green;
    color: #025157;
}

.navbar li {
    margin: 0 25px;
}

.action {
    /* width: 15%; */
    text-align: right;
    font-size: 14px;
}

.action a {
    margin-right: 20px;
    color: #67b54b;
}

.actions>* {
    margin: 0 10px;
}

.action button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border-radius: 5px;
}

.introduccion>* {
    margin: 10px 0;
    text-align: center;
    width: 400px;
    max-width: 100%;
}

.introduccion {
    justify-content: center;
}

.formulario-reto, .introduccion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capterra-img {
    grid-column: 1/3;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.capterra-img img {
    width: 500px;
    max-width: 100%;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    gap: 20px;
}

.promo-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.promo-video video {
    width: 500px;
    max-width: 100%;
}

.publicidad {
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
}

.publicidad-texto {
    color: #343434;
}

.postwork {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.postwork-info {
    width: 70%;
}

.postwork-info h2 {
    font-size: 50px;
    line-height: 61px;
}

.postwork-info p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
}

.postwork-info button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}

.postwork-info img {
    width: 500px;
    max-width: 100%;
}

.postwork-tarjeta {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.postwork-tarjeta-img {
    position: relative;
}

.postwork-tarjeta-foto img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.postwork-tarjeta-logo {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postwork-tarjeta-logo img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.postwork-tarjeta-texto, .postwork-tarjeta-boton {
    padding: 15px 25px;
}

.postwork-tarjeta-texto h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}

.postwork-tarjeta-texto h5 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.postwork-tarjeta-texto-carrito {
    display: flex;
    align-items: center;
    color: #828282;
}

.postwork-tarjeta-texto-carrito img {
    width: 26px;
    margin-right: 20px;
}

.postwork-tarjeta-boton {
    margin-bottom: 20px;
    background-color: unset;
    border-top: unset;
}

.postwork-tarjeta-boton button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
    background-color: #025157;
    color: #fff;
}

.features {
    display: grid;
    /* grid-template-columns: 200px 300px; */
    /* grid-template-columns: repeat(2, 300px); */
    /* grid-template-columns: 500px 1fr; */
    height: 660px;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 30px;
    background-color: #025157;
    padding: 5% 10%;
}

.feature-art {
    background-color: white;
    margin: 10px;
    height: 100%;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.feature-info {
    width: 70%;
    padding: 30px;
}

.feature-info img {
    width: 50px
}

.feature-info h4 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
    margin: 10px 0;
}

.feature-info p {
    font-size: 16px;
}

.feature-info a, .postwork-s4-info a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.feature-img {
    height: 100%;
}

.feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
}

.postwork-s4 {
    padding: 5% 10%;
    text-align: center;
}

.postwork-s4-text h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.postwork-s4-text p {
    line-height: 1.5;
    margin: 0 auto;
    max-width: 60%;
    color: #46484c;
    font-size: 18px;
}

.postwork-s4-text p span {
    color: #67b54b;
}

.postwork-s4-text button {
    margin-top: 20px;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
}

.articulos-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.postwork-s4-individual {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.postwork-s4-img {
    position: relative;
}

.postwork-s4-img-principal {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    height: 350px;
}

.postwork-s4-img-secundaria {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 21px;
}

.postwork-s4-info {
    padding: 25px;
}

.postwork-s4-info p {
    font-size: 15px;
    line-height: 1.5;
    color: #46484c;
    height: 90px;
}

.postwork-s4-info h3 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
}

/** dispositivos móviles en vista viewport (vertical) */

@media (max-width: 575px) {
/*     
    .navbar, .action {
        display: none;
    } */

    h1 {
        font-size: 30px;
    }

    .postwork-info h2, .postwork-s4-text h2 {
        font-size: 25px;
        line-height: 35px;
    }

    .introduccion * {
        width: 100%;
        max-width: 90%;
    }

    main {
        margin-top: 70px;
        grid-template-columns: 1fr;
    }

    .capterra-img {
        grid-column: 1/2;
        max-width: 90%;
    }

    .capterra-img img {
        width: 500px;
        max-width: 90%;
    }

    .promo {
        flex-direction: column;
        width: 90%;
    }

    .promo-video video, .promo-video, .publicidad {
        width: 100%;
    }
    
    .formulario-reto, .introduccion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .postwork {
        flex-direction: column;
        padding: 5%;
    }

    .postwork-info {
        width: 90%;
    }

    .postwork-tarjeta-foto img {
        max-height: 40%;
    }

    .features {
        height: 1600px;
        grid-template: repeat(4, 1fr) / 1fr;
    }

    .feature-info {
        padding: 10px;
    }
    
    .feature-info h4 {
        font-size: 18px;
    }

    .articulos-grid {
        grid-template-columns: 1fr;
    }

    .feature-image{
        right: -20px;
    }


    .postwork-s4-individual {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row-reverse;
        position: relative;
    }

    .postwork-s4 {
        padding: 0;
    }

    .postwork-s4-info {
        padding: 10px 0px 25px 10px;
    }

    .postwork-s4-info h3 {
        margin-top: 45px;
    }
    
    .postwork-s4-img {
        position: initial;
        display: flex;
        align-items: center;
    }

    .postwork-s4-img-principal {
        height: auto;
}

/** dispositivos pequeños en vista landscape (horizontal) */

@media (min-width: 576px) and (max-width: 767px) {}

/** dispositivos medianos (tablets) */

@media (min-width: 768px) and (max-width: 991px) {}

/** dispositivos grandes (desktops) */

@media (min-width: 992px) and (max-width: 1199px) {}

/** dispositivos extra grandes (monitores grandes, tvs) */

@media (min-width: 1200px) {}